* {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	margin: 0;
	z-index: 0;
	background-image: url("img/background.gif");
	background-attachment: fixed;
	background-position: center top;
}

header {
	grid-row: 1;
	grid-column: 1;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	background-color: #000;
	border-bottom: 1px solid #69ffff;
	vertical-align: middle;
	width: 100%;
	height: auto;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

main {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	grid-row: 2;
	grid-column: 1;
	z-index: 1;
	place-items: center;
	width: 100%;
	padding: 2rem;
}

footer {
	grid-row: 3;
	grid-column: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr ;
	background-color: #000;
	border-top: 1px solid #69ffff;
	align-items: center;
	text-align: center;
}

strong {
	font-family: 'Sora', sans-serif;
	font-weight: 100;
	color: #fff;
	font-size: .75rem;
	padding-left: 10px;
	padding-right: 10px;
}

.copyright {
	grid-row: 1;
	grid-column: 1;
}

.social-media {
	grid-row: 1;
	grid-column: 2;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: auto;
}

.social-media a {
	color: #fff;
	font-size: 1rem;
}

.facebook {
	grid-row: 1;
	grid-column: 1;
}

.twitter {
	grid-row: 1;
	grid-column: 2;
}

.googleplus {
	grid-row: 1;
	grid-column: 3;
}

.instagram {
	grid-row: 1;
	grid-column: 4;
}

h1 {
	font-family: 'Sora', sans-serif;
	font-weight: 600;
	color: #fff;
	font-size: 2rem;
}

h2 {
	font-family: 'Sora', sans-serif;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 1px;
	border-bottom: 1px solid #69ffff;
}

p {
	font-family: 'Sora', sans-serif;
	font-weight: 100;
	color: #fff;
	font-size: .75rem;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}

.logo {
	grid-row: 1;
	grid-column: 1;
}

.logo img {
	height: 50px;
	width: auto;
	padding-left: 2rem;
}

.pages {
	grid-row: 1;
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	place-items: center;
}

.about-page {
	grid-row: 1;
	grid-column: 1;
}

.download-page {
	grid-row: 1;
	grid-column: 2;
}

.press-page {
	grid-row: 1;
	grid-column: 3;
}

.content-box {
	grid-row: 2;
	grid-column: 1;
	background-color: #000;
	border: 1px solid #69ffff;
	max-width: 45em;
	height: 30em;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

@media screen and (min-width: 40em) {
  .content-box {
    height: 27em;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 60em) {
  .content-box {
    height: 22em;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.form-input input{
	font-family: 'Sora', sans-serif;
	font-weight: 100;
	color: #fff;
	background-color: #000;
	font-size: 1rem;
	border: 1px solid #69ffff;
	height: 2rem;
	padding-left: .5rem;
}

.form-input label{
	font-family: 'Sora', sans-serif;
	font-weight: 100;
	color: #fff;
	font-size: .75rem;
}

.form-button input{
	font-family: 'Sora', sans-serif;
	font-weight: 400;
	color: #fff;
	background-color: #000;
	border: 1px solid #69ffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
	margin-top: 0;
	height: 2rem;
	border-top: 0;
	padding-left: .5rem;
	margin-bottom: 1rem;
}

form {
	margin-top: 2rem;
}

.form-message {
	display: none;
	place-items: center;
	margin-top: 20%;
}

.form-message p {
	font-family: 'Sora', sans-serif;
	font-weight: 100;
	color: #fff;
	font-size: .75rem;
	background-color: #000;
	border: 1px solid #69ffff;
	padding: 1rem;
}

.no-bg {
	background: none;
	border: 0;
}